.about {
  &__wrapper {
    padding: 6.25em 0;
    display: flex;
    gap: 7.187em;
    align-items: center;
  }
  &__text-col {
    position: relative;
    flex-grow: 1;
    margin-left: 150px;
  }
  &__count {
    position: absolute;
    left: -23.73417%;
    top: -23.46241%;
    font-size: clamp(100px, 21vw, 240px);
    line-height: 100%;
    opacity: 0.1;
  }
  &__img-col {
    flex: 0 1 38.7141%;
  }

  &__title {
    margin-bottom: calc(1.6875em / 2);
    max-width: 555px;
  }
  &__text {
    margin: 0 0 1.6875em 6em;
  }
  &__desc {
    max-width: 632px;
    line-height: 178%;
    margin-bottom: 1.6875em;
  }

  &__svg-wrapper {
    width: 24px;
    height: 16px;

    & svg {
      fill: #fbd784;
    }
  }
  &__img-wrap {
    position: relative;
    object-fit: cover;
    padding-bottom: 127.20848%;
    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
