html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $font-family;
  font-size: clamp(15px, 3vw, 18px);
  font-weight: 700;
  line-height: 1.77778;
  color: $content-color;
  background-color: $body-bg-color;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1492px;
}
