@font-face {
  font-family: "Gilory";
  src: url("../../fonts/Gilroy-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("../../fonts/ChronicleDisplay-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilory";
  src: url("../../fonts/gilroy-bold.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("../../fonts/ChronicleDisplay-Semi.woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilory";
  src: url("../fonts/gilroy-medium.woff2");
  font-style: normal;
  font-weight: 500;
}
