$body-bg-color: #0b1d26;
$content-color: #fff;
$accent: #fbd784;
$bg: #0b1d26;
$weiß: #fff;
$font-family: "Gilroy", Arial, Helvetica, sans-serif;
$second-family: "Chronicle Display", Arial, Helvetica, sans-serif;
